<p>!Leitores!</p>

<br>

<button class="btn btn-success" (click)="cadastrarLeitor()">Cadastrar novo Leitor</button>

<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Sexo</th>
      <th scope="col">Telefone</th>
      <th scope="col">E-mail</th>
      <th scope="col">Cep</th>
      <th scope="col">Nascimento</th>
      <th scope="col">Lougradouro</th>
      <th scope="col">Numero</th>
      <th scope="col">Bairro</th>
      <th scope="col">CEP</th>
      <th scope="col">Cidade</th>
      <th scope="col">Complemento</th>
      <th scope="col">Uf</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let leitor of leitores">
      <td>
        <div class="btn-group btn-sm" role="group" (click)="removerLeitor(leitor.id)" aria-label="Basic example">
          <button type="button" class="btn btn-danger">Remover</button>
          <a [routerLink]="['/leitor', leitor.id]" class="btn  btn-primary" role="button"
            aria-disabled="true">Alterar</a>

        </div>
      </td>

      <td scope="row">{{leitor.id}}</td>
      <td scope="row">{{leitor.nome}}</td>
      <td scope="row">{{leitor.sexo}}</td>
      <td scope="row">{{leitor.telefone}}</td>
      <td scope="row">{{leitor.email}}</td>
      <td scope="row">{{leitor.cpf}</td>
      <td scope="row">{{leitor.dataNascimento | date: 'dd/MM/yyyy'}}</td>
      <td scope="row">{{leitor.endereco.logradouro}}</td>
      <td scope="row">{{leitor.endereco.numero}}</td>
      <td scope="row">{{leitor.endereco.bairro}}</td>
      <td scope="row">{{leitor.endereco.cep}}</td>
      <td scope="row">{{leitor.endereco.cidade}}</td>
      <td scope="row">{{leitor.endereco.complemento}}</td>
      <td scope="row">{{leitor.endereco.uf}}</td>
    </tr>

  </tbody>
</table>
